body {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: darkblue;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
}

.btn:hover {
    box-shadow: 0 0 10px 2px darkblue;
}
